body{
  margin: 0px;
  font-family: 'Lekton', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  width: 100%;
}

a{
  color: #337AC3;
  text-decoration: none;
}

a:visited{
  color: #337AC3;
}

.MenuIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  z-index: 1100;
  position: fixed;
  top: 50px;
  right: 10px;
  color: #ffffff;
  background-color: #337AC3;
  padding: 20px;
}

.ResponsiveMenuShow{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #337AC3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ResponsiveMenuButtonShowButton{
  display: flex;
  color: #ffffff;
  font-family: 'VT323', monospace;
  font-size: 6vh;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ResponsiveMenu{
  display: none;
}

.ResponsiveMenuShow a, .ResponsiveMenuShow a:visited{
  color: #ffffff;
}

.ResponsiveMenuButtonShowButton a, .ResponsiveMenuButtonShowButton a:visited{
  color: #ffffff
}

.MainHeader {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ClientsHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImageCarousel {
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.MainGallery{
  width: 100%;
}

.GalleryRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.GalleryThumbnail{
  width: 20%;
  margin: 4%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
  box-shadow: 20px 20px 50px grey;
  border-top: 3px solid #337AC3;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.Title{
  width: 100%;
  background:rgba(255,255,255,0.7);
  font-size: 25px;
  font-weight: bold;
}
.GalleryThumbnail:hover{
  width: 40%;
  height: 400px;
}

#Poznan0116{
  background-image: url('../assets/gallery/poznan/1.jpg');
}

#Warszawa0216{
  background-image: url('../assets/gallery/warszawa0216/2.jpg');
}

#Poznan0316{
  background-image: url('../assets/gallery/poznan0316/3.jpg');
}

#Poznan0117{
  background-image: url('../assets/gallery/poznan0117/4.jpg');
}

#Wroclaw0217{
  background-image: url('../assets/gallery/wroclaw0217/4.jpg');
}

#Lodz0317{
  background-image: url('../assets/gallery/lodz0317/4.jpg');
}

#Wroclaw0417{
  background-image: url('../assets/gallery/wroclaw0417/4.jpg');
}

#Poznan0118{
  background-image: url('../assets/gallery/poznan0118/4.jpg');
}

#Wroclaw0218{
  background-image: url('../assets/gallery/wroclaw0218/4.jpg');
}

#Poznan1218{
  background-image: url('../assets/gallery/poznan1218/1.jpg');
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 20%;
}

.column img{
  height: 200px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: #337AC3;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  background-color: black;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  color: #337AC3;
  background-color: #ffffff;
  padding-top: 25px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer{
  height: 100px;
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  padding-right: 5%;
  align-items: center;
  background-color: #337AC3;
  font-family: 'Nothing You Could Do', cursive;
}
@media only screen and (max-width: 1050px) {
  body{
    font-size: 3vh;
    line-height: 1.2
  }
  .MainPageHeader{
    width: 100%;
    text-align: center;
    font-size: 7vh;
  }
  .row{
    flex-direction: column;
  }
  .column{
    width: 100%;
  }
  .column img{
    width: 70%;
    height: auto;
  }
  .close, .prev, .next{
    font-size: 10vh;
  }
  .GalleryRow{
    flex-direction: column;
  }
  .GalleryThumbnail, .GalleryThumbnail:hover{
    width: 70%;
    height: 50vh;
  }
  .Title{
    font-size: 5vh;
  }
  .Hidden{
    display: none;
  }
  footer{
    height: 10vh;
  }
}


}
