.MainHeader {
  height: 700px;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.InformationSection {
  border: solid 5px green;
  height: 300px;
}

.EventsSection {
  height: 800px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
}

.PartnersSection {
  height: 300px;
  border: solid 5px blue;
}

.MeetnightLogotypeStyle {
  width: 50%;
  background: #ffffff;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.NavbarMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogotypeWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MenuButton {
  background: #ffffff;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: black;
  margin: 20px;
}

.EventUpperWrapper {
  width: 100%;
  height: 400px;
}

.EventLeftColumn {
  width: 65%;
  height: 400px;
  float: left;
}

.EventRightColumn {
  width: 25%;
  margin-right: 10%;
  margin-top: 5%;
  height: 90%;
  float: left;
  box-shadow: 20px 20px 50px grey;
  background: rgb(255,255,255);
}

.EventBottomWrapper {
  width: 55%;
  height: 200px;
  margin: 50px 15% 50px 30%;
  box-shadow: 20px 20px 50px grey;
  background: rgb(255,255,255);
}

.EventUpperDiv {
  width: 100%;
  height: 200px;
}

.EventBottomDiv {
  width: 70%;
  height: 200px;
  margin-left: 20%;
  box-shadow: 20px 20px 50px grey;
  background: rgb(255,255,255);
}

.EventMainHeader {
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding: 10px;

}

.EventDate {
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding: 10px;
}

.EventMoreButton {
  width: 30%;
  margin-left: 35%;
  padding: 5px;
  background: rgba(80,80,80,0.5);
}

.TestimonialsSection{
  height: 200px;
  background:red;
}
.PrevButton, .NextButton{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  height: 100%;
  position: relative;
  margin: auto;
  float: left;
}

/* Hide the images by default */
.SliderContainer {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: 10%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.DotsContainer{
  width: 100%;
  height: 10%;
  bottom: 0px;
}

.TestimonialText{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
